:root{
    --vermelho:#e50914; 
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #aaaaaa;
}

header .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;

}

.logo{
    color: #e50914;
    font-family: 'arial black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}